dist
cabal-dev
*.o
*.hi
*.chi
*.chs.h
.virtualenv
.hsenv
.cabal-sandbox/
cabal.sandbox.config
cabal.config
VerlatticeClient/.idea/workspace.xml
VerlatticeClient/project/project/
VerlatticeClient/project/target/
VerlatticeClient/target/
target/
VerlatticeServer/log/
